.carousel {
  /* kita bakalan atur carousel ini 
    untuk terletak ditengah web kita ya */
  width: auto;
  height: 100vh;

  /* kita centerkan menggunakan rumus paling gacor */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.carousel-container{
    width: 600px;
}

.image-container {
    position: relative;
}

.carousel-items img {
  /* kita buat imagesnya constant */
  width: 100%;
  height: 300px;
}

.button {
  /* kita buat supaya next sama prevnya dikiri dan dikanan */
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* kasi jarak dengan element lain  */
  margin : 10px 0;
}

/* ini opsional sih untuk rapi aja */
#prev-button,
#next-button {
  background-color: grey;
  color: white;
  box-shadow: none;
  border: none;
  padding: 10px;
  border-radius: 20%;
  transition: 1s;
}

/* # digunakan untuk id */

/* animasi pada saat hover button  */
#prev-button:hover,
#next-button:hover {
  transition: 1s;
  background-color: green;
  scale: 1.1;
}

.arrow {
    /* kita buat absolute, dengan catatan div diluar arrow harus relative
    supaya menjadi patokan max nya */
    position: absolute; 
    font-size: 100px;
    top: 50%; 
    transform: translateY(-50%); 
    background-color: transparent;
    border: none;
    color: transparent; 
    padding: 10px;
    height: 100%;
    /* animasi ketika balik ke keadaan awal */
    transition: 1s; 
}

/* animasi arrow ketika di hover  */
.arrow:hover {
    transition: 1s;
    color: white;
}


/* panah kiri kita letakkan dikiri */
.left-arrow {
  left: 0;
}

/* letakkan dikanan  */
.right-arrow  {
  right: 0;
}
